name: ci

on:
  push:
    branches:
      - "main"
      - "requires-user-intervention"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        uses: elgohr/Publish-Docker-Github-Action@master
        env:
          PYTHON_VERSION: ${{ matrix.python }}
        with:
          name: nsglobusautobuilds/jupyterlab-testing
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildargs: PYTHON_VERSION
          tags: "latest"
